.update-nag, 
#wp-admin-bar-updates, 
#menu-plugins .update-plugins, 
.theme-info .notice, 
.wp-heading-inline .theme-count, 
table.plugins .update-message, 
.theme-browser .update-message, 
body.plugins-php ul.subsubsub li.upgrade {
	display: none;
	visibility: hidden;
}

.plugin-update-tr {
	height: 1px;
}